.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0px;
}

@media (max-width: 768px) {
  .calendar-grid {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }

  .calendar-header {
    display: none;
  }
}